@font-face {
	font-family: 'HurmeBlack';
	src: url('../fonts/HurmeBlack.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HurmeLight';
	src: url('../fonts/HurmeLight.otf');
	font-weight: normal;
	font-style: normal;
}

* {
  user-select: none;
}
.background {
  position: relative;
  top: 0px;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://i.postimg.cc/C1pgWYfh/banner.webp");
  background-size: 125% 125%; /* Set background size to cover entire element */
  filter: blur(10px); /* Adjust the blur amount as desired */
  z-index: -1; /* Push the blurred background below other elements */
  animation: zoomAnimation 115s infinite alternate, tiltAnimation 100s infinite linear;
}

@keyframes zoomAnimation {
  0%, 100% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%; /* Increase the background size to achieve the zoom effect */
  }
}

@keyframes tiltAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.logo-container {
  position: relative;
  top: -65px;
  z-index: 1; /* Bring the logo above the background */
}

/* Add your other CSS styles here */
body {
  top: auto;
  margin: 0;
  overflow: hidden;
  background: #00d0ffcb;

  font-family: HurmeBlack;
  color: #efefef00;
}

.container {
  position: absolute;

  width: 100vw;
  height: 110vh;
}

video.background {
  position: absolute;
  width: 105vw;
  bottom: -2.5vh;
  left: -2.5vw;
  filter: blur(.5vw);
}
div.background {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: #150e3332;
}

div.logo-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-layers {
  position: relative;
  width: 32vw;

  top: -25%;
}

.zaniq-logo {
  position: absolute;
  width: 65%;

  left: 50%; /* Adjust the left value as desired */
  transform: translateX(-50%);
}
/* .zaniq-logo.blured {
  filter: blur(.5vw);
} */

.logo-title {
  position: relative;

  font-size: 3vw;
  text-shadow: 0 0 2em #201f24;

  margin: 0;
  bottom: -8vw;

  text-align: center;
}

.discord-container {
  position: absolute;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.discord-field {
  position: relative;
  bottom: 3vh;
}

.discord-field > fieldset {
  border-radius: .5vw;
  color: #00aeff;
  border: .1vw solid #ffffff;

  display: flex;
  justify-content: center;

  background: #201f24;

  transition: background 250ms;

  box-shadow: 0 0 10vw #00aeff;
}

.discord-field > fieldset:hover {
  background: #201f24;
}


.discord-field > fieldset > legend {
  font-size: 1vw;
  padding-left: 0.4vw;
  padding-right: 0.2vw;
}

.discord-field > fieldset > input {
  position: relative;
  top: -.5vh;

  text-align: center;
  font-family: HurmeBlack;

  font-size: 2vw;

  color: #efefef;

  background: none;
  border: none;

  pointer-events: none;
}

.discord-field > fieldset > input::selection {
  background: #97d4ffe0;
}

.discord-field > p {
  font-family: HurmeLight;
  font-size: .7vw;

  text-align: center;

  margin-top: .5vh;
}

html, body {
  background: rgba(20, 20, 20, 0);
  text-align: center;
  height: 130%;

}
.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	  margin: 0 auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}